<div data-role="page" >
  
  <div data-role="header">
    <h1>New Drink</h1>
    <a data-icon="back"  href="<%= Rho::RhoConfig.start_path %>">Back</a>
  </div>

  <div data-role="content">
  
      <ul data-role="listview" data-theme="g">
          <li>
              <h3><a href="#">Brewed Coffee</a></h3>
                <ul>
                  <li>
                    <a href="<%= url_for(:action => :new)%>">
                        Bold Pick of the Day
                    </a>
                  
                  </li>
                  <li>
                    <a href="<%= url_for(:action => :new)%>">
                        French Roast
                    </a>
                  </li>
                  <li>
                    <a href="<%= url_for(:action => :new)%>">
                        Breakfast Roast
                    </a>
                  </li>
                  <li>
                    <a href="<%= url_for(:action => :new)%>">
                        Italian Roast
                    </a>
                  </li>
                </ul>
          </li>
          <li>
            <h3><a href="#">Espresso : Hot</a></h3>
              <ul>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Latte
                  </a>
              
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Mocha
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Breve
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Cappuccino
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Espresso
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Caffe Ristretto
                  </a>
                </li>
              </ul>
          </li>
          <li>
            <h3><a href="#">Espresso : Cold</a></h3>
              <ul>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Iced Latte
                  </a>
              
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Iced Mocha
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                       Iced Coffee
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Caffee Freddo
                  </a>
                </li>
              </ul>
          </li>
          <li>
            <h3><a href="#">Chocolate Beverages</a></h3>
              <ul>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Hot Chocolate
                  </a>
              
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Peppermint Hot Chocholate
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                       White Hot Chocolate
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Salted Caramel Hot Chocolate
                  </a>
                </li>
              </ul>
          </li>
          <li>
            <h3><a href="#">Frappuccino® Blended Beverages</a></h3>
              <ul>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Caffe Vanilla Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Caramel Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                       Coffee Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Cinnamon Dolce Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Expresso Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Java Chip Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Peppermint Mocha Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Strawberries &amp; Crème Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Tazo Chai Crème Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Tazo Green Tea Crème Frappuccino®
                  </a>
                </li>
                <li>
                  <a href="<%= url_for(:action => :new)%>">
                      Vanilla Bean Crème Frappuccino®
                  </a>
                </li>
              </ul>
          </li>
      </ul>
  </div>
</div>
